.body {
	display: flex;
	padding: 25px;
	justify-content: center;
	align-items: flex-end;
}

.header {
	background-color: rgb(180, 77, 9);
	color: white;
	font-weight: bold;
	height: 75px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#title {
	margin: 0 0 0 150px;
}
