.header {
	background-color: rgb(180, 77, 9);
	color: white;
	font-weight: bold;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 7.5%;
	margin-bottom: 15px;
}

.header > ul {
	position: relative;
	display: flex;
	align-content: center;
	list-style-type: none;
}

.header li {
	display: flex;
	align-items: center;
	padding: 0 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.menu-button {
	height: 50px;
}

.menu-button:hover {
	background-color: #b47809;
}

.menu-hover-hold {
	background-color: #b47809;
}

#run-button {
	/* margin-right: 20px; */
	padding: 15px 10px;
	background-color: rgb(9, 80, 180);
	color: white;
	font-weight: bold;
	border-radius: 7px;
	border: white 2px solid;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* box-shadow: 1px 1px 3px black; */
}

#run-button:hover {
	background-color: #b47809;
}

.dropdown {
	background-color: rgb(9, 80, 180);
	position: absolute;
	width: 126px;
	top: 50px;
	/* left: 1px; */
}

.dropdown > ul {
	padding: 0;
	list-style-type: none;
}

.dropdown li {
	padding: 10px;
	margin: 0;
}

.dropdown li:hover {
	background-color: #b47809;
	box-sizing: border-box;
	/* border: 2px rgb(7, 70, 170) solid; */
}

#dropdown-search {
	left: 210px;
}

.hidden {
	display: none;
}
