.info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85%;
	margin: auto;
}

.key {
	width: 20%;
	height: 150px;
	background-color: #b47809;
}

.message_box {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
}
