.info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85%;
	margin: auto;
}

.key {
	width: 30%;
	height: 125px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.key-item-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon-key {
	margin-left: 10px;
}

.message_box {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
}

.key-text {
	font-weight: bold;
}

#wall-key {
	height: 25px;
	width: 25px;
	background-color: black;
	margin-left: 10px;
}

#message-text {
	font-weight: bold;
}
